.fundo {
    /*fundo */
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 103px;

    background: rgba(80, 31, 161, 0.3);
}

.row {
    display: flex;
}

.column-left {
    float: left;
    width: 30%;
}

.column-right {
    float: left;
    width: 70%;
}


.backgroundimage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 103px;

    /* cinza */
    background: #D7D2DB;
}

.backgroundimagem {
    position: floor($number: 0);
    width: 100%;
    height: 1000px;
    background-image: url("/assets/images/components/peoples.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.text-one {
    position: relative;
    width: 421px;
    height: 217px;
    left: 122px;
    top: 140px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 59px;

    /* branco */
    color: #F2F2F2;
}

.imagem1 {
    height: 32px;
    width: 40px;
    border-radius: 0px;

    position: relative;
    left: 50%;
    right: 50%;
    top: 130px;
    bottom: 16.67%;

    /* branco */
    border: 0px solid #F2F2F2;
}

.SecondText-Desktop {
    position: relative;
    width: 100%;
    height: 32px;
    left: 0px;
    top: 130px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    /* identical to box height, or 122% */
    text-align: center;

    /* gray/900 */
    color: #111827;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;

}

.ThirdText-Desktop {
    /* Description */

    position: relative;
    width: 100%;
    height: 42px;
    left: 0px;
    top: 130px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* or 117% */
    text-align: center;

    /* branco */
    color: #F2F2F2;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}


.inputsearch {
    /* Form Fields/Text input */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 13px;

    position: relative;
    width: 80%;
    height: 38px;
    left: 0px;
    top: 130px;

    /* white */
    background: #FFFFFF;
    /* gray/300 */
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.findbutton {
    /* Button */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px;

    position: relative;
    width: 15%;
    height: 38px;
    left: 0px;
    top: 130px;

    /* Primary */
    background: #501FA1;
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* white */
    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
}

.findbox {
    /* Trailing content */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1px 1px 0px 1px;

    position: relative;
    width: 90%;
    height: 400px;
    left: 0px;
    top: 150px;

    background: rgba(255, 255, 255, 0.78);
}

.titlefind {
    /* Heading */

    position: relative;
    width: 100%;
    height: 16px;
    left: 1%;
    top: 5px;

    /* text-xs/leading-4/font-semibold/tracking-wide/uppercase */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    letter-spacing: 0.025em;
    text-transform: uppercase;

    /* gray/500 */
    color: #6B7280;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 15px 0px 15px 0px;
}

.result {
    width: 90%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

}

.result-row {

    position: relative;
    width: 100%;
    height: 60px;
    left: 1%;
    top: 5px;
    display: flex;
}

.result-avatar {
    /* Avatar */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 16px;


    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 12px;
}

.result-dados {
    position: relative;
    width: 90%;
}

.result-name {
    position: relative;
    width: 100%;
    height: 20px;
    left: 0px;
    top: 0px;

    /* text-sm/leading-5/font-medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* gray/900 */
    color: #111827;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.result-partido {
    /* Supporting text */

    position: relative;
    width: 100%;
    height: 20px;
    left: 0px;
    top: 20px;

    /* text-sm/leading-5/font-medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* gray/500 */
    color: #6B7280;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.result-button {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;

    position: static;
    width: 152px;
    height: 38px;
    left: 581px;
    top: 17px;

    background: rgba(80, 31, 161, 0.5);
    border-radius: 19px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 12px;
}

.result-button p {
    position: relative;
    align-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    /* gray/900 */
color: #111827;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;
}