.section-exported {
  width: 100%;
  height: 515px;
  background-image: url("../../../../../assets/images/components/peoples.png");
  background-repeat: no-repeat;
  background-size: cover;
  left: 0px;
  top: 103px;
  background-color: rgba(80, 31, 161, 0.3);
}
.firstText-Desktop {
  position: absolute;
  width: 421px;
  height: 217px;
  left: 122px;
  top: 119px;
  letter-spacing: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 59px;

  /* branco */

  color: #f2f2f2;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-self: center;
}

.SecondText-Desktop {
  font-family: "Inter";
  font-style: normal;
  font-size: 23px;
  line-height: 28px;
  /* identical to box height, or 122% */
  /* gray/900 */

  color: #111827;
}

.ThirdText-Desktop {
  font-family: "Inter";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  /* or 117% */
  /* branco */

  color: #f2f2f2;
}

#card-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.78);
}

.pre-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: 0.025em;
  text-transform: uppercase;

  /* gray/500 */

  color: #6b7280;
}
