/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #e5e5e5;
}
@font-face {
  font-family: myFirstFont;
  src: url(./assets/fonts/Gotham-Font/Gotham-Black.otf);
}
@font-face {
  font-family: text;
  src: url(./assets/fonts/Gotham-Font/Gotham-Black.otf);
}
.flex-container {
  display: flex;
  justify-content: center;
  align-self: center;
}
.title {
  font-family: text;
  font-size: 24px;
}
